.banner-area {
    width:900px;
    height:250px;;
    background-color: #0795e6;
    overflow: hidden;
}

.banner-area img {
    width: auto;
    height: 250px;
    margin-left: -50px;
}

.banner-area h2 {
    margin-left: 485px;
    margin-top: -135px;
    font-size: 42px;
    line-height: 40px;
    color: #fff;
}
