div.todas-categorias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-ca {
    width: 288px;
    box-sizing: border-box;
    border: 1px solid #333333;
}

.categories-ca img {
    width: 100%;
}

.categories-ca h3{
    padding: 0;
    margin: 0;
}

.categories-ca h3 a{
    text-align: left;

}

.categories-ca h3,
.categories-ca p {
    padding: 0 7px 0 7px;
}



