div#todas-peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.categorias-peliculas{
    width: 170px;
    border: 1px solid #333;
    margin: 0 0 15px 0;
}

div.categorias-peliculas img{
    width: 168px;
    height: auto;
    object-fit: cover;
}

div.categorias-peliculas a {
    padding: 0;
    margin: 0;
}

div.categorias-peliculas h3,
div.categorias-peliculas a h3 {
    padding: 15px;
    transition: all 0.4s;
}

div.categorias-peliculas a:hover h3 {
    letter-spacing: 3px;
}

div.categorias-peliculas a p,
div.categorias-peliculas p {
    padding: 0 15px 15px 15px;
    color: #333;
    transition: all 0.4s;
}

div.categorias-peliculas a:hover p {
    color: #0795e6;
}