#categories-area .todas-categorias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#categories-area .categories-ca {
    width: 288px;
    border: 1px solid #333333;
    margin-bottom: 15px;
}

#categories-area .categories-ca img {
    width: 100%;
    height: 212px;
    object-fit: cover;
}

#categories-area .categories-ca a {
    padding: 0;
    margin: 0;
}

#categories-area .categories-ca h3,
#categories-area .categories-ca a h3 {
    padding: 15px;
    transition: all 0.4s;
}

#categories-area .categories-ca a:hover h3 {
    letter-spacing: 3px;
}

#categories-area .categories-ca a p,
#categories-area .categories-ca p {
    padding: 0 15px 15px 15px;
    color: #333;
    transition: all 0.4s;
}

#categories-area .categories-ca a:hover p {
    color: #0795e6;
}