#detalle-pelicula {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#texto-pelicula {
    width: 290px;
}

#texto-pelicula h2 {
    margin: 0 0 15px 0;
    color: #0795e6;
}

#texto-pelicula p {
    margin: 0 0 22px 0;
    color: #333;
}

#anadir-carrito {
    background-color: #0795e6;
    padding: 15px 0 0 0 ;
}

#anadir-carrito a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

#anadir-carrito span {
    display: block;
    width: 49px;
    height: 49px;
    padding-top: 3px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}

#anadir-carrito img {
    width: 30px;
}
#anadir-carrito a p {
    transition: all 0.4s;
    padding: 0 0 1px 0;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#anadir-carrito a:hover p {
    letter-spacing: 4px;
}

#imagen-pelicula {
    width: 590px;
}

#imagenPrincipal img {
    width: 100%;
    height: 332px;
    object-fit: cover;
}

#miniaturas {
    display: flex;
    justify-content: space-between;
}

#miniaturas img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

#miniaturas img {
    cursor: pointer;
}

.categories-content-area {
    display: flex;
    justify-content: center;
    gap: 15px;
}