header {
    position:relative;
}

header .fondo-header {
    background-color:#0795e6;
    height: 250px;
}

header .walt-logo {
    width: 321px;
    padding:15px;
    position:absolute;
}

header h1 {
    margin: 0px 0px 0px 370px;

}

header ol {
    display:flex;
    gap: 15px;
    padding:0;
    list-style-type: none;
    margin-left: 370px;
    margin-top: 40px;
}


header li, header li a {
    width:167px;
    height:39px;
    line-height:39px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color:#0795e6;
    font-weight: 700;
    display: block;
    transition: all 0.4s;
}

header li a:hover {
    color:#333333;
    letter-spacing: 3px;
}

header li a.activo {
    color:#333333;
}

header .shopping-cart {
    position:absolute;
    bottom: 125px;
    right: 15px;
}

header .shopping-cart a {
    width: 83px;
    height: 83px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #fff;
    transition: all 0.4s;
}

header .shopping-cart a:hover {
    background-color: #0795e6;
    border: 2px solid #333333;
}

header .shopping-cart a:hover img {
    filter: grayscale(100%);
    filter: brightness(0);
}

header .shopping-cart a img {
    width: 50px;
    margin-top: 6px;
    margin-left: 15px;
    transition: all 0.4s;
}

header p.migas-de-pan {
    height: 85px;
    line-height: 85px;
    margin-left: 55px;
}