header {
    position:relative;
    background-color:#0795e6;
    height: 250px;
}

.walt-logo {
    width: 321px;
    padding:15px;
    position:absolute;
}

ol {
    display:flex;
    gap: 15px;
    padding:0;
    list-style-type: none;
    margin-left: 370px;
    margin-top: 40px;
}

header h1 {
    margin: 0px 0px 0px 370px;

}

li, a {
    width:167px;
    height:39px;
    line-height:39px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    color:#0795e6;
    font-weight: 700;
    display: block;
    transition: all 0.4s;
}

li a:hover {
    color:#333333;
    letter-spacing: 3px;
}

.shopping-cart {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    bottom: 40px;
    right: 15px;
    text-align: center;

}

.shopping-cart a {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: white;
    margin:auto;
}

.shopping-cart a:hover{
    background-color: #0795e6;
    border: 2px solid #333333;
}

.shopping-cart a:hover img{
    filter: grayscale(100%);
    filter: brightness(0);
}

.shopping-cart a img {
    width: 50px;
    margin: auto;
    margin-top: 6px;
    transition: all 0.4s;
}
