* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
    body {
    font-family: 'Open Sans', sans-serif;
    width: 900px;
    margin: auto;
    color: #333333;
}

p {
    font-weight: normal;
    font-size: 14px;
}

h1 {
    font-size: 96px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 50px 0 25px 0 ;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #0795e6
}